.mainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    width: 100vw;
    height: calc(100vh - 60px);
}

.orderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: calc(100vh - 60px);
    width: 100%;
    max-width: 1000px;
    min-width: 300px;

    background-color: #eaeff4;
    padding: 40px 10px;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: visible;
}

.orderContainer .searchContainer {
    display: flex;
    max-width: 1000px;
    width: 100%;
}

.orderContainer .searchContainer:hover {
    box-shadow: 2px 2px 4px #ababab;
}

.searchContainer input {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #ababab;
    border-right: none;
    border-radius: 2px 0 0 2px;
    color: black;
    font-size: 17px;
}

.searchContainer input::placeholder {
    color: rgb(110,110,110);
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
    width: 150px;
    min-width: 100px;
    border: none;
    background-color: #2f60ff;
    color: #fff;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.orderContainer .productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 970px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.productContainer .productChild {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 380px;
    
    background-color: #fff;
    box-shadow : 0 0 15px rgb(190,190,190), 
                 0 0 25px rgb(110,110,110), 
                 0 0 40px rgb(170,170,170);
    border-radius : 20px;

    color: #000;
    gap: 5px;
    margin: 10px;
}

.productContainer .productChild:hover {
    box-shadow : 0 0 15px rgb(90,90,90);
}

.productChild .left {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.productChild .left img{
    width: 100%;
    height: 155px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s ease-in-out;
}

.productChild .left img:hover {
    transform: scale(1.05);
}

.productChild .left a {
    text-decoration: none;
    color: #2f60ff;
    font-size: 10px;
    margin: 4px 0;
}

.productChild .left a:hover {
    font-weight: 600;
}

.productChild .right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 880px;
    width: fit-content;
    color: #000;
    padding: 10px;
    gap: 14px;
}

.productChild .right p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;

    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
}

.right p:nth-child(2) span {
    background-color: #3bc38d;
    width: fit-content;
    padding: 4px 15px;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 20px;
}

.productBottomContainer {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 0 10px;
}

.addWishlistBtn { 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  /* border: 2px solid black; */
  padding: 5px;
}

.rightCheckoutWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 300px;
    min-width: 300px;
    height: calc(100vh - 60px);

    padding: 10px;
    gap: 10px;
    font-size: 16px;
    color: black;
    background-color: white;
}

.totalItems {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    padding: 5px;
    padding-left: 20px;
}

.totalPrice {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    padding: 5px;
    padding-left: 20px;
}

.CheckoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 40px);
    height: 40px;

    margin: 10px;
    background-color: #2f60ff;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    cursor: pointer;
}

.addedCart {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 140px;
    height: 30px;

    border-radius: 10px;
    background-color: rgba(0,0,0,0.15);
}

@media only screen and (max-width:850px) {
    .orderContainer .productContainer {
        justify-content: center;
    }
}

@media only screen and (max-width:600px) {
    .mainContainer {
        flex-wrap: wrap;
        min-height: 100vh;
    }
    .rightCheckoutWrapper {
        height: auto;
        min-height: 300px;
    }
    .orderContainer {
        overflow: unset;
        min-height: 500px;
        height: auto;
    }
}
@media only screen and (max-width:400px) {
    .orderContainer .productChild {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .right {
        margin: 5px 0;
        width: fit-content;
    }
}