.mainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding: 100px 0;
  }

  .productImageClicked {
    position: absolute;
    left: 15%;
    z-index: 6;
  }
  
  .productImageClicked img {
    width: 600px !important;
    height: 600px !important;
    border-radius: 0;
    cursor: initial;
  }
  
  .blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.712);
    z-index: 5;
  }

  .otherImages {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
  }

  .otherImages img {
    width: 92.5px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .productImage {
    position: relative;
  }
  
  .productImage img {
    width: 400px;
    height: 400px;

    margin: 40px 40px 40px 10px;
    cursor: pointer;

    border-radius: 3px;
  }

  .heartIcon {
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 0 2px #ebeaea;
    padding: 15px;
    top: 50px;
    right: 50px;
  }

  .heartCheck {
      display: none;
   }
  
  .heart {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 5.5px;
    background-image: url('https://freesvg.org/img/OCAL-Favorites-Icon-Unselected.png'); /* Replace with the path to your heart SVG image */
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  
  .heartCheck:checked + .heart {
    background-image: url('https://freesvg.org/img/1378418749.png'); /* Replace with the path to your filled heart SVG image */
   }
  
  .productDetails {
    margin-top: 40px;
    max-width: 500px;
  }
  
  .productName {
    font-size: 24px;
    font-weight: bold;
  }
  
  .productPrice {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .productDescription {
    margin-top: 20px;
  }
  
  .addToCartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fca311;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .addToCartButton:hover {
    background-color: #e8590c;
  }
  