.mainWraper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100vw;
  min-height: calc(100vh - 60px);
}

.infiniteSlider {
  width: 100%;
  overflow: hidden;
}

.bigSliderWrapper {
  display: flex;
  transition: transform 3s ease-out;
}

.bigChild {
  flex-shrink: 0;

  width: 100%;
  min-height: calc(90vh - 80px);

  text-align: center;
  font-size: 2rem;
  
  background-color: #f0f0f0;
}